.Content {

}
.Content-Style{
	h2{
		color:#8cc63f;
	}

	h5{
		color:#c3c5f5;
		margin: 5% 0 1% 0;
	}
	color: #000;
	background-color: #fff;
	border-bottom: 2px solid #8cc63f;
	border-right: 2px solid #8cc63f;
	border-left: 2px solid #8cc63f;
	padding: 0 25px;
	border-top: 2px solid #8cc63f;
	margin-top: -2px;
}

//---- IMG VAST -----//
.Home-Img1{
		width: 100%;
		height: 50%;
}
.WatisMicro-WKK-Img1{
	float: right;
	width: 28%;
	height: 28%;
}
.Techniek-Img1{
	width: 65%;
	height:50%;
	display: block;
	margin: 0 auto
}
.Technieken-Stirling-Img1{
	width: 35%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.Technieken-Brandstofcel-Img1{
	width: 45%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.Technieken-ORC-Img1{
	width: 45%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.Technieken-Gasmotor-Img1{
	width: 45%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.Technieken-Gasturbine-Img1{
	width: 50%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.PrincipeWKK-Img1{
	width: 70%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.GrootschaligeToepassing-Img1{
	width: 70%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.Toekomst-Img1{
	width: 60%;
	height:50%;
	display: block;
	margin: 0 auto;
}
.BesparingConsument-Img1{
	width: 60%;
	height:50%;
	display: block;
	margin: 0 auto;
}
