.Footer {
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {

}

//style the widgets
.Footer-inner .widget {

}

.Socket{
	.Socket-Pwrapper{
		background-color: #414181;	
		text-align: center;
		margin: -2px 0 0 0;
		border-top:#414181 solid 1px;
		height: 50px;
	}
	p{	
		margin: -2px auto 0 auto;
		color: #fff;
		padding: 1%;
	}	
}

	